@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Mono", sans-serif;
}

/* index.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Add this to avoid horizontal overflow in the timeline container */
.timeline-container {
  overflow-x: hidden;
}

/* Ensure all children elements do not cause overflow */
.timeline-container * {
  max-width: 100%;
  box-sizing: border-box;
}

@keyframes marquee {
  0%   { transform: translateX(100vw); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-slow {
  animation: marquee 8s linear infinite;
}

.animate-marquee-fast {
  animation: marquee 6s linear infinite;
}

::selection {
  background: white !important;
  color: black !important;
}

::-moz-selection {
  background: white !important;
  color: black !important;
}